body {
  background-color: rgb(217, 199, 255);
  font-family: "배달의민족 주아"
}

header{
  background-color: rgb(118, 4, 248);
  color: rgb(231, 228, 40);
  margin: 0;
  padding: 10px;
}

nav {
  background-color: rgb(19, 21, 40);
  color: rgb(231, 228, 40);
  margin: 0;
  font-size: 20px;
  padding: 10px;
  letter-spacing: 3px;
}

.detailCard {
  background: radial-gradient(rgba(245, 241, 241, 0.1));
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.5);
  width: 400px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  border-radius: 10px;
  font-weight: 500;
  color: #2f2f2d;
  letter-spacing: 2px;
}

.cardName {
  border-radius: 20px;
  color: rgb(75, 76, 153);
  padding: 10px;
  font-size: 40px;
}